<div id="<%= dom_id pose %>">
  <p>
    <strong>Name:</strong>
    <%= pose.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pose.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= pose.image %>
  </p>

  <p>
    <strong>Target body area:</strong>
    <%= pose.target_body_area %>
  </p>

  <p>
    <strong>Seated:</strong>
    <%= pose.seated %>
  </p>

</div>
