<%= form_with(model: mat) do |form| %>
  <% if mat.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mat.errors.count, "error") %> prohibited this mat from being saved:</h2>

      <ul>
        <% mat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :brand, style: "display: block" %>
    <%= form.text_field :brand %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :weight, style: "display: block" %>
    <%= form.text_field :weight %>
  </div>

  <div>
    <%= form.label :length1, style: "display: block" %>
    <%= form.number_field :length1 %>
  </div>

  <div>
    <%= form.label :length2, style: "display: block" %>
    <%= form.number_field :length2 %>
  </div>

  <div>
    <%= form.label :length3, style: "display: block" %>
    <%= form.number_field :length3 %>
  </div>

  <div>
    <%= form.label :width1, style: "display: block" %>
    <%= form.number_field :width1 %>
  </div>

  <div>
    <%= form.label :width2, style: "display: block" %>
    <%= form.number_field :width2 %>
  </div>

  <div>
    <%= form.label :thickness, style: "display: block" %>
    <%= form.text_field :thickness %>
  </div>

  <div>
    <%= form.label :material, style: "display: block" %>
    <%= form.text_field :material %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.label :link, style: "display: block" %>
    <%= form.text_field :link %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
