<div id="<%= dom_id mat %>">
  <p>
    <strong>Brand:</strong>
    <%= mat.brand %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= mat.name %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= mat.weight %>
  </p>

  <p>
    <strong>Thickness:</strong>
    <%= mat.thickness %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= mat.material %>
  </p>

</div>
